.container-title {
  display: flex;
  text-align: left;
  cursor: pointer;
  background-color: #00aae4;
  width: 12.5rem;
  color: #ffff;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
